npm install --no-optional

npm install live-server
live-server  直接启动本地的一个服务器
npm init 项目初始化


/webpack-dev-server.js



安装vue环境

	安装node.js

	安装cnpm
	npm install -g cnpm --registry=https://registry.npm.taobao.org

	安装vue-cli
		cnpm install -g vue-cli

	新建一个vue 项目
		vue init webpack vue-demo

	// 运行开发者模式
		npm run dev


Vue.js 是用于构建交互式的 Web 界面的库
Vue.js 提供了 MVVM 数据绑定和一个可组合的组件系统，具有简单、灵活的 API


指令 
	Vue.js的指令是以v-开头的，它们作用于HTML元素，指令提供了一些特殊的特性，将指令绑定在元素上时，指令会为绑定的目标元素添加一些特殊的行为，我们可以将指令看作特殊的HTML特性（attribute）

常用指令
	v-if
		根据条件表达式的值来执行元素的插入或者删除行为。
	v-show
		条件渲染指令，和v-if指令不同的是，使用v-show指令的元素始终会被渲染到HTML，它只是简单地为元素设置CSS的style属性。
	v-else
		为v-if或v-show添加一个“else块”。v-else元素必须立即跟在v-if或v-show元素的后面——否则它不能被识别
	v-for="item in items"
		基于一个数组渲染一个列表 items是一个数组，item是当前被遍历的数组元素。
	v-bind
		可以在其名称后面带一个参数，中间放一个冒号隔开，这个参数通常是HTML元素的特性（attribute），例如：v-bind:class
	v-on
		和v-bind 类似  绑定方法  <a v-on:click="doSomething">
	v-model
		绑定数据

	v-bind指令可以缩写为一个冒号，v-on指令可以缩写为@符号。


	定义指令
		bind 
		绑定的时候
		inserted
		新增的时候
		update
		更新的时候

		//绑定和更新都有的时候使用一个匿名函数就可以了
		Vue. directive('stat', {
			bind(el, bind){
				console.log(bind);
			}
		})


当两个name一样的表单存在 key属性抹掉数据

v-if
v-else-if
v-else

//循环
v-for="v in news"
v-for="v in 20"  
v-for="(v,k,index) of news"


v-bin:class="hd"
:class="{color:false,font:true}"   //判断给
:class="['color', 'font']"     //直接给类
:lists.sync="goods" 			//子组件 同步父组件数据

:css 								//禁止css

v-on:click
v-on:keyup.enter  //回车时执行  
@submit
@click.self 	  //点自己才触发
@click.capture    //捕获     冒泡的反方向
@submit.prevent   //取消提交默认行为
@click.left 		//鼠标左键
@contextmenu 		//鼠标右键 
@click.stop      //阻止冒泡

//velocity.org    动画js类库 
@beforeEnter 	//动画  进来的之前    第一个参数 元素
@enter 			//进来  第一个参数 元素   第二个回调  
@leave  		//出去 

//绑定数据
v-model="hd"
v-model.number    //数值类型
v-model.trim      //去掉空格
v-model.lazy      //懒加载   失去焦点

//只绑定一次
v-once

//引入数据
v-text
v-html

animate.css   //过度动画类库
//过度动画   配合taransition   样式类名
	hd-enter 				//开始
		hd-enter-active		//过程
			hd-enter-to     //结束

	hd-leave
		hd-leave-active
			hd-leave-to


// vue实例被生成后的一个生命周期钩子函数。(页面初始化数据加载一般写这里);
Created：{

}

//方法   执行时间
methods: {
	sum(){
		this.$emit('sum')    //子组件呼叫  主组件 绑定方法
	}
}


//实例   返回数据  计算属性   变量改变时
computed: {
	sum(){
		return 
	}
}  

//监听   数据改变的时候  
watch: {
	word: function(newV, oldV){
		app.result
	}
}
//挂载点   页面渲染完执行
mounted(){
	
}
// 组件激活的时候使用
activated(){
	
}


//追加数据
	push
	unshift
	pop
	shift

	//删除
	splice(start, lenth)
	//排序
	sort
	//反转
	reverse


axios     //http请求
	axios.get('php').then(function()response{

	})

lodash    //延时执行
	_.debounce(function(){}, 1000)



组件

	Vue.component('hdSlie',{
		template: '123'
		props: ['hd']     // 获取组件标签属性 给data  
		props: {
			list : {
				required: true  //必须
				type: false   //指定类型
				default: false  //默认值
				validator(v)    //验证函数
					return true;
				}
				default(){
					return [{'title':'abc'}];
				}
			}
		}
	}) 			子组件  全局的	
	new Vue({
		el: '',
		components:{
			hdSlies:{
				template: '321'
			}
		}, //局部组件
		//绑定命令    
		directive: {
			stat:{
				bind(el,bid){}
			}
		}
	})    根组件


<hd-slie>
	<div :is="">使用的组件</div>
	<p slot="body">内容分发</p>
	<template scope="v">{{v}}</template>  //接收slot的属性

	<transition name=hd>
		<h1 v-if="type">过度动画显示</h1>
	</transition>
	<transition enter-active-class="">
		<h1 v-if="type">css过度动画显示</h1>
	</transition>
</hd-slie>
<script type="text/x-template" id="hdSlie">
	<div>
		<slot name="body">没有传递内容</slot>
		<slot name="head">没有传递内容</slot>
	</div>
</script>





<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body>
        <div id="app">
        	<my-component></my-component>
            <p><input type="text" v-model="message"></p>
            <p>
                <!--click事件直接绑定一个方法-->
                <button v-on:click="greet">Greet</button>
            </p>
            <p>
                <!--click事件使用内联语句-->
                <button v-on:click="say('Hi')">Hi</button>
            </p>
        </div>
    </body>
    <script src="js/vue.js"></script>
    <script>
 		// 1.创建一个组件构造器
        var myComponent = Vue.extend({
            template: '<div>This is my first component!</div>'
        })
        
        // 2.注册组件，并指定组件的标签，组件的HTML标签为<my-component>
        Vue.component('my-component', myComponent)

        var vm = new Vue({
            el: '#app',
            data: {
                message: 'Hello, Vue.js!'
            },
            // 在 `methods` 对象中定义方法
            methods: {
                greet: function() {
                    // // 方法内 `this` 指向 vm
                    alert(this.message)
                },
                say: function(msg) {
                    alert(msg)
                }
            },
			components: {
				//局部注册
			}
        })
    </script>
</html>



//路由   router