// 默认颜色
$default_background_color: #f4f4f4

// 色调
$dark_color: #303030
$shallow_color: #ffffff
$main_color: #fecd2e

// 字体颜色
$font_color: #666666
// .... 字体颜色
$font2_color: #f81c1b


// 字体
.iconfont
  font-family: iconfont

// 定位
.pos-a
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0

.pos-f
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0

.pos-r
  position: relative

// flex
.fdr
  flex-direction: row

.fdc
  flex-direction: column

.fww
  flex-wrap: wrap

.f1
  flex: 1

.f-2
  flex: .2

.f-3
  flex: .3

.f-4
  flex: .4

.f-8
  flex: .8

.f-9
  flex: .9

.f-11
  flex: 1.1

.fjc
  justify-content: center

.fje
  justify-content: flex-end

.fjsb
  justify-content: space-between

.fjsa
  justify-content: space-around

.fac
  align-content: center

.fis
  align-items: flex-start

.fie
  align-items: flex-end

.fic
  align-items: center

.f-cent
  justify-content: center
  align-items: center

// 宽 高
.w750
  width: 750px

.w690
  width: 690px

.w600
  width: 600px

.w580
  width: 580px

.w400
  width: 400px

.w385
  width: 385px

.w370
  width: 370px

.w350
  width: 350px

.w315
  width: 315px

.w300
  width: 300px

.w180
  width: 180px

.w165
  width: 165px

.w160
  width: 160px

.w150
  width: 150px

.w130
  width: 130px

.w80
  width: 80px

.w75
  width: 75px

.w70
  width: 70px

.w60
  width: 60px

.w50
  width: 50px

.w40
  width: 40px

.w35
  width: 35px

.w30
  width: 30px

.w15
  width: 15px

.w5
  width: 5px

.w1
  width: 1px

.h600
  height: 600px

.h420
  height: 420px

.h360
  height: 360px

.h310
  height: 310px

.h300
  height: 300px

.h280
  height: 280px

.h250
  height: 250px

.h220
  height: 220px

.h200
  height: 200px

.h165
  height: 165px

.h150
  height: 150px

.h130
  height: 130px

.h120
  height: 120px

.h110
  height: 110px

.h100
  height: 100px

.h85
  height: 85px

.h80
  height: 80px

.h75
  height: 75px

.h70
  height: 70px

.h60
  height: 60px

.h50
  height: 50px

.h40
  height: 40px

.h30
  height: 30px

.h15
  height: 15px

.h10
  height: 10px

// 字体颜色
.f-c-f
  color: #ffffff

.f-c-6
  color: #666666

.f-c-3
  color: #333333

// 字体
.fw-b
  font-weight: bold

.f20
  font-size: 20px

.f22
  font-size: 22px

.f24
  font-size: 24px

.f26
  font-size: 26px

.f28
  font-size: 28px

.f30
  font-size: 30px

.f32
  font-size: 32px

.f36
  font-size: 36px

.f38
  font-size: 38px

.f40
  font-size: 40px

.f50
  font-size: 50px

.f60
  font-size: 60px

.f70
  font-size: 70px

// padding
.pt3
  padding-top: 3px

.pt5
  padding-top: 5px

.pt10
  padding-top: 10px

.pt20
  padding-top: 20px

.pt30
  padding-top: 30px

.pb5
  padding-bottom: 5px

.pb20
  padding-bottom: 20px

.pb30
  padding-bottom: 30px

.pb100
  padding-bottom: 100px

.pl15
  padding-left: 15px

.pl20
  padding-left: 20px

.pl30
  padding-left: 30px

.pl40
  padding-left: 40px

.pl50
  padding-left: 50px

.pr15
  padding-right: 15px

.pr20
  padding-right: 20px

.pr30
  padding-right: 30px

.pr40
  padding-right: 40px

.pr50
  padding-right: 50px

// maring
.mt5
  margin-top: 5px

.mt10
  margin-top: 10px

.mt15
  margin-top: 15px

.mt20
  margin-top: 20px

.mt35
  margin-top: 35px

.mt70
  margin-top: 70px

.mt75
  margin-top: 75px

.mt80
  margin-top: 80px

.mt280
  margin-top: 280px

.ml5
  margin-left: 5px

.ml10
  margin-left: 10px

.ml15
  margin-left: 15px

.ml20
  margin-left: 20px

.ml40
  margin-left: 40px

.ml50
  margin-left: 50px

.mr5
  margin-right: 5px

.mr15
  margin-right: 15px

.mr20
  margin-right: 20px

.mr30
  margin-right: 30px

.mr40
  margin-right: 40px

.mr50
  margin-right: 50px

.mb5
  margin-bottom: 5px

.mb10
  margin-bottom: 10px

.mb20
  margin-bottom: 20px

.mb25
  margin-bottom: 25px

.mb100
  margin-bottom: 100px

// 边框
.bor-1
  border-width: 1px
  border-style: solid
  border-color: #ccc

.bor-t
  border-color: #303030
  border-style: solid
  border-width: 1px

.bor-r10
  border-radius: 10px

.bor-r15
  border-radius: 15px

.bor-r20
  border-radius: 20px

.bor-r25
  border-radius: 25px

.bor-r30
  border-radius: 30px

.bor-r50
  border-radius: 50px

.bor-r65
  border-radius: 65px

.bor-r75
  border-radius: 75px

// 背景色
.bc-f
  background-color: #ffffff

.bc-e
  background-color: #eeeeee

.bc-c
  background-color: #cccccc

.bc-a
  background-color: #aaaaaa

.bc-7
  background-color: #777777